
.main-title {
  font-size: 10rem;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#main-container {
  width: 90%;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 22.5%);
  grid-template-rows: 18% 18% 18% 18% 18% 5%;
  gap: 5% 5%;
}

.card-title {
  text-align: center;
}

.card__name {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.card__specie {
  font-size: 2rem;
}

@media (max-width: 991.98px) {
  #main-container {
    grid-template-columns: repeat(2, 46%);
    grid-template-rows: repeat(10, 22em);
    gap: 4% 4%;
  }
  .main-title {
    font-size: 6rem;
  }  
}

@media (max-width: 576px) { 
  #main-container {
    grid-template-columns: 96%;
    grid-template-rows: repeat(20, 29em);
    gap: 2% 2%;
  }
}